<div class="card">
  <div class="content">
    <div class="header">

     <h2><b><%= link_to car.model,cars_show_path %></b></h2>
    </div>
    <div class="description">
      <% if car.year_id%>
        <h4> <%= car.year.year %></h4>
      <% end %>

      <% if car.make_id %>
        <h4><%= car.make.make %></h4>
      <% end %>

      <% if car.image.present? %>
        <p><%= image_tag car.image.thumb %></p>
      <% end %>

      <h4><%= car.price %></h4>

    </div>
  </div>
</div>